.landing{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 50px auto;
}

.button{
  width: 150px;
  height: 50px;
  border-radius: 20px;
  background-color: #73E3E7;
  border: none;
  outline: none;
  margin: 0 auto;
}

.button:active{
  outline: none;
}

.landing__buttons{
  display: flex;
  justify-content: space-between;
  width: 500px;
}