.FoodCardDiet{
  background-color: rgba(50,50,50,.5);
  width: 40vw;
  height: auto;
  border-radius: 15px;
  padding: 10px 0;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.amountFood{
  text-align: center;
}

.FoodCard__container{
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 10px;
}