.tableContainer{
  margin: -50px 60px;
  background-color: white;
  border-radius: 15px;
}

.tableContainer h1{
  margin-left: 10px;
}

.dietTableContainer{
  margin: 50px 60px;
  background-color: white;
  border-radius: 15px;
}