.button__container{
    display: flex;
    justify-content: center;
    align-items: center;
}

.button__container > button{
    padding: 10px;
    background-color: skyblue;
    font-size: 14px;
    margin-top: 10px;
    border-radius: 10px;
    outline: none;
    border: none;
    transition: 1s;
}

.button__container > button:hover{
    background-color: steelblue;
    transition: 0.5s;
}